#cards
{

}

#memory-game {
	height: 200px;
	width: 200px;
	background-color: blue;
	position: absolute;
	left: 950px;
	top: -40px;
}

.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}



#cards .card
{
	position:absolute;
	z-index: 666;
	width: 100px;
	height: 100px;
	perspective: 600;
	transition: 0.6s;
	transform-style: preserve-3d;
}


#cards .card.disabled
{
	color: #ff00ff !important;
}

#cards .card.selected
{
	color: #00ff00;
	transform: rotateY(180deg);
}

#cards .card-pos0
{
	left:770px;
	top:70px;
/*	background-color: green;
*/}

#cards .card-pos1
{
	left:980px;
	top:190px;
/*	background-color: lightgreen;
*/}

#cards .card-pos2
{
	left:1090px;
	top:390px;
/*	background-color: darkgreen;
*/}

#cards .card-pos3
{
	left:1010px;
	top:600px;
/*	background-color: pink;
*/}

#cards .card-pos4
{
	left: 800px;
	top: 700px;
/*	background-color: orange;
*/}

#cards .card-pos5
{
	left:560px;
	top:700px;
/*	background-color: blue;
*/}

#cards .card-pos6
{
	left:340px;
	top:618px;
/*	background-color: lightblue;
*/}

#cards .card-pos7
{
	left:240px;
	top:410px;
/*	background-color: red;
*/}

#cards .card-pos8
{
	left:340px;
	top:210px;
/*	background-color: yellow;
*/}

#cards .card-pos9
{
	left:530px;
	top:70px;
/*	background-color: black;
*/}

#card1 {
	background-image: 
}

#present {
	//background-color: red;
	height: 360px;
	width: 317px;
	position: absolute;
	left: 550px;
	top: 180px;
}

#present-l {
	background-image: url("../assets/present-xmas-l.png");
	background-size: cover;
	height: 360px;
	width: 151px;
	position: absolute;
	left: 0px;
	top: 0px;
	transition: transform 1.5s;
}

#present-r {
	background-image: url("../assets/present-xmas-r.png");
	background-size: cover;
	height: 360px;
	width: 232px;
	position: absolute;
	left: 85px;
	top: 0px;
	transition: transform 2.5s;
}

#present-r.touch {
	transform: translate(140px,0);
}

#present-l.touch {
	transform: translate(-120px,0);
}

#memory-instructions {
	width: 500px;
	text-align: center;
	position: absolute;
	top: 550px;
	left: 472px;
}

#memory-instructions p {
	font-size: 1.6em;
}
