#cards
{

}

#memory-game {
	height: 200px;
	width: 200px;
	position: absolute;
	left: 950px;
	top: -40px;
}

.front, .back {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
}



#cards .card
{
	position:absolute;
	z-index: 666;
	width: 100px;
	height: 100px;
	perspective: 600;
	-webkit-perspective: 600;
	-moz-perspective: 600;
	-ms-perspective: 600;
	transition: 0.6s;
	-webkit-transition: 0.6s;
	-moz-transition: 0.6s;
	-ms-transition: 0.6s;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	animation: cardwobble 0.5s infinate ease-in-out;
	-moz-animation: 0.5s ease 0s normal none infinite cardwobble;
  	-webkit-animation:cardwobble 0.5s infinite ease-in-out;
  	-ms-animation:cardwobble 0.5s infinite ease-in-out;
  	-o-animation:cardwobble 0.5s infinite ease-in-out;
}

@keyframes cardwobble{
    0%{transform:rotate(-1.5deg)}
    50%{transform:rotate(1.5deg)}
    100%{transform:rotate(-1.5deg)}
}


#cards .card.disabled
{
	color: #ff00ff !important;
	animation: none;
}

#cards .card.selected
{
	color: #00ff00;
	animation: none;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
}

#cards .card-pos0
{
	left:770px;
	top:70px;
	animation-delay:-0.6s
}

#cards .card-pos1
{
	left:980px;
	top:190px;
	animation-delay:-2.2s
}

#cards .card-pos2
{
	left:1090px;
	top:390px;
	animation-delay:-1.1s
}

#cards .card-pos3
{
	left:1010px;
	top:600px;
	animation-delay:-0.7s
}

#cards .card-pos4
{
	left: 800px;
	top: 700px;
	animation-delay:-0.9s
}

#cards .card-pos5
{
	left:560px;
	top:700px;
	animation-delay:-0.4s
}

#cards .card-pos6
{
	left:340px;
	top:618px;
	animation-delay:-2.4s
}

#cards .card-pos7
{
	left:240px;
	top:410px;
	animation-delay:-0.9s
}

#cards .card-pos8
{
	left:340px;
	top:210px;
	animation-delay:-0.7s
}

#cards .card-pos9
{
	left:530px;
	top:70px;
	animation-delay:-0.0s
}


#present {
	height: 360px;
	width: 317px;
	position: absolute;
	left: 550px;
	top: 180px;
}

#present-l {
	background-image: url("../assets/present-xmas-l.png");
	background-size: cover;
	height: 360px;
	width: 151px;
	position: absolute;
	left: 0px;
	top: 0px;
	transition: transform 1.5s;
	-webkit-transition: -webkit-transform 1.5s;
	-moz-transition: -moz-transform 1.5s;
	-ms-transition: -ms-transform 1.5s;
}

#present-r {
	background-image: url("../assets/present-xmas-r.png");
	background-size: cover;
	height: 360px;
	width: 232px;
	position: absolute;
	left: 85px;
	top: 0px;
	transition: transform 2.5s;
	-webkit-transition: -webkit-transform 2.5s;
	-moz-transition: -moz-transform 2.5s;
	-ms-transition: -ms-transform 2.5s;
}

#present-r.touch {
	transform: translate(140px,0);
	-webkit-transform: translate(140px,0);
	-moz-transform: translate(140px,0);
	-ms-transform: translate(140px,0);
}

#present-l.touch {
	transform: translate(-120px,0);
	-webkit-transform: translate(-120px,0);
	-moz-transform: translate(-120px,0);
	-ms-transform: translate(-120px,0);
}

#memory-instructions {
	width: 500px;
	text-align: center;
	position: absolute;
	top: 550px;
	left: 472px;
}

#memory-instructions p {
	font-size: 1.6em;
}
